.task {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  background: var(--gray-400);
  border-radius: 8px;
  gap: 0.75rem;
  padding: 1rem;
  line-height: 1.6;
  color: var(--gray-100);
  text-align: left;
  font-size: var(--font-small);
  word-break: break-all;

  .taskContentAndCheck {
    display: flex;
    flex: 1;
    gap: 0.75rem;
  }

  .checkboxTaskInput {
    display: none;
  }

  .checkboxUncheckTaskCircle {
    border: 2px solid var(--blue);
    height: 25px;
    min-width: 25px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 5px 6px 11px 6px;
  }

  .checkboxTaskCircle {
    height: 40px;
    cursor: pointer;
  }

  .checkedTaskText {
    text-decoration: line-through;
    color: var(--gray-300);
  }

  > button {
    background: transparent;
    color: var(--gray-300);
    border: 0;
    cursor: pointer;
    line-height: 0;
  }
}
