.taskList {
  .taskListHeader {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.tasks {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 4rem 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
  line-height: 1.6;
  gap: 1rem;
}
